@import "../../assets/style.scss";

.my-button {
    display: flex;
    align-items: center;
    height: 28px;
    min-width: 10px;
    width: fit-content;
    padding: 4px 8px;
    margin: 2px 5px;
    background-color: $second-color;
    border: 1px solid $second-color;
    border-radius: 8px;
    color: $complementary-first;
}

.my-button:hover {
    cursor: pointer;
}