@import "../../assets/style.scss";

.loading-circle {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    animation: fade 3s; // FADE ANIMATION SETTINGS, right after circle fills is the best
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    background-color: var(--white);
    .checkmark-label {
        margin-left: 30px;
        color: var(--green);
    }

    // actuall circle that fills, height and width can adjust as wanted, and animation duration
    .wrapper {
        position: fixed;
        height: 25px;
        width: 25px;
    }
    .rectangle-hide {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: var(--white);
        width: 50%;
        height: 100%;
        animation: slide 0.05s; // INSTANTLY hide it
        animation-delay: 0.5s; // hider must be gone after half animation is finished
        animation-fill-mode: forwards;
    }

    .svg-checkmark {
        position: relative;
        top: 5px;
        left: 4px;
        fill: var(-green);
    }


    /* Set the sizes of the elements that make up the progress bar */
    .circle {
        position: absolute;
        border-color: var(-green) !important;
        border-radius: 50%;
        border: 2.5px solid;
        width: 80%;
        height: 80%;
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%)
    }
    // basic settings
    div[data-anim~='base'] {
        animation-fill-mode: forwards; // last keyframe
        animation-iteration-count: 1; // only run once
        animation-timing-function: linear; // linear timinng
    }
    .circle[data-anim~='left'] {
        animation-duration: 1s; // FULL ANIMATION TIME
        animation-name: left-spin;
    }
    .circle[data-anim~='right'] {
        animation-duration: 0.5s; // HALF ANIMATION TIME
        animation-name: right-spin;
    }

    @keyframes right-spin {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(180deg);
        }
    }
    @keyframes left-spin {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes slide {
        from {
            height: 100%;
        }
        to {
            height: 0%;
        }
    }
    @keyframes fade {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}