html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
}

.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.is-disabled {
    opacity: 0.6;
}