@import "./assets/style.scss";

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;

    /** colors **/
    @include color-shades($blue, blue);
    @include color-shades($green, green);
    @include color-shades($yellow, yellow);
    @include color-shades($red, red);
    @include color-shades($grey, grey);
}

.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.is-disabled {
    opacity: 0.6;
}