@import "./assets/style.scss";

:root{
    /** include colors everywhere **/
    --blue: $blue;
    --green: $green;
    --yellow: $yellow;
    --red: $red;
    --grey: $grey;
    --black: $black;
    --white: $white;

    @include color-shades($blue, blue);
    @include color-shades($green, green);
    @include color-shades($yellow, yellow);
    @include color-shades($red, red);
    @include color-shades($grey, grey);
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
}

.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.is-disabled {
    opacity: 0.6;
}